<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd"
        >
<web-app>
  <servlet>
    <servlet-name>
      Dynamic Servlet
    </servlet-name>
    <servlet-class>
      nl.hu.wac.firstapp.servlets.DynamicServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      Dynamic Servlet
    </servlet-name>
    <url-pattern>
      /DynamicServlet.do
    </url-pattern>
  </servlet-mapping>
</web-app>
